body {
  height: 5000px;
}
.container {
  max-width: 1200px;
}
header {
  .navbar {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    padding: 20px 0px;
  }

  .header-logo {
    margin-right: 115px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-nav {
    & > li {
      margin-right: 55px;
      font-family: "Roboto";
      & > a::after {
        // display: none;
        top: 26px;
        left: 35px;
        width: 0px;
        content: "";
        height: 4px;
        position: absolute;
        border-radius: 100%;
        background-color: #0000fe;
        transition: 0.3s all ease-in-out;
      }
      & > a::before {
        top: 26px;
        left: 10px;
        width: 0px;
        content: "";
        height: 4px;
        position: absolute;
        border-radius: 100%;
        background-color: #0000fe;
        transition: 0.3s all ease-in-out;
      }
      &:hover {
        a::before {
          width: 24px;
        }
        a::after {
          width: 5px;
        }
      }
    }

    a {
      font-weight: 700;
      padding-bottom: 30px;
      position: relative;
      color: #000000 !important;
      padding: 0px;
    }
    .dropdown {
      &::after {
        top: -2px;
        color: #ff5520;
        right: -14px;
        content: "+";
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        transition: 0.3s all ease-in-out;
      }
      .dropdown-menu {
       
        top: 65px;
        left: 0;
        opacity: 0;
        z-index: 2;
        margin: 0px;
        padding: 0px;
        height: auto;
        width: 200px;
        border: none;
        display: block;
        border-radius: 0;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        transition: all 0.4s ease-in-out;
        border-bottom: 2px solid #0000fe;
        box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);

        .dropdown-item {
          width: 100%;
          color: #343434;
          display: block;
          font-size: 14px;
          padding: 5px 15px;
          position: relative;
          transition: 0.3s all ease-in-out;
          text-decoration: none;
        }
      }
      .dropdown-item{
        &:hover{
          background-color: #0000fe;
          color:#fff !important;
        }
      }
      &:hover {
        .dropdown-menu {
          visibility: visible;
          margin-top: 11px;
          opacity: 1;
        }
      }
    }
  }

  .shop-icon {
    position: relative;

    &::after {
      top: 3px;
      right: -3px;
      width: 2px;
      content: "";
      height: 18px;
      position: absolute;
      background-color: #d9d9d9;
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #5a5a5a;
      margin: 0px 15px;
    }
  }

  .man-icon {
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #5a5a5a;
      margin: 15px;
    }
  }
}
